@tailwind base;
@tailwind components;
@tailwind utilities;
/* https://byby.dev/at-rule-tailwind   web para arreglar el warning de tailwind*/


:root {
  --bg: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
