/* Ocultar las flechas de incremento/decremento */
.nospin::-webkit-inner-spin-button,
.nospin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.nospin {
  -moz-appearance: textfield;
  appearance: none;
}